<?xml version="1.0" encoding="UTF-8"?>
<!--
  Spring Boot'un kendi varsayilan console appender'ini (application-dev.properties'teki
  logging.pattern.console'u okuyan) aynen koruyoruz, sadece dev profilinde ikinci bir appender
  ekliyoruz: loglari Loki'ye de gonderen Loki4jAppender (bkz. pom.xml'deki loki-logback-appender).
  Prod'da (dev profili yokken) bu ikinci appender hic devreye girmez, konsol tek hedef kalir.
-->
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

    <springProfile name="dev">
        <appender name="LOKI" class="com.github.loki4j.logback.Loki4jAppender">
            <http>
                <url>http://loki:3100/loki/api/v1/push</url>
            </http>
            <format>
                <label>
                    <pattern>app=dbadmin</pattern>
                </label>
                <message>
                    <!-- trace/span burada da elle ekleniyor: Loki'de mesaj govdesi duz metin,
                         bu ikisi olmadan bir trace'e tikladiginda ilgili log satirlarini
                         filtrelemenin (Req-2.3) bir yolu olmazdi. -->
                    <pattern>%d{HH:mm:ss.SSS} %-5level %logger{36} [trace=%X{traceId:-},span=%X{spanId:-}] %msg%n</pattern>
                </message>
            </format>
        </appender>
    </springProfile>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <springProfile name="dev">
            <appender-ref ref="LOKI"/>
        </springProfile>
    </root>
</configuration>
